<div class="container" id="marginbetweennavigationbarandjumbotron">
  <div class="row">
    <div class="col-xs-12">
      
      <h2 class="text-center text-primary" style="margin:0px;padding:0px;font-family: 'Droid Sans', sans-serif;">Search Jobs, Across all India.</h2><hr>


  <form class="form-group form-inline text-center">
   
    <input type="text" class="form-control " placeholder="Enter Job Title,Desigination,Keywords" style="width:300px;margin:10px;">
 
  
  <select class="form-control"style="width:300px;margin:10px;">
            <option>Select Experience</option>
            <option>0 Year | Fresher</option>
            <option>1 Year</option>
            <option>2 Years</option>
            <option>3+ Years</option>
            </select>
 <p class="text-center">
   <button type="submit" class="btn-primary text-center form-control"style="width:300px;">Search</button>
    </p>
  </form>
  </div>
      <h3 class="text-center text-primary">

        </h3>
        </div>
        <div style="height:0px;overflow:hidden;">
          <input type="file" id="fileInput" name="fileInput" />
        </div>
        <p class="text-center clear-float">
          <a href="#" class="btn btn-primary btn-lg" onclick="chooseFile();">Upload Your CV | Resume</a>
        </p>
        <p class="text-center text-primary">We Will Search Best Matching Jobs for You.</p>
  

</div>

<!-- End of Jumbotron -->


<div class="container text-primary">
  <div class="text-primary"style="background-color:white;border-radius: 6px;
  padding: 20px;" >
  <div class="row">
    <div class="col-xs-12  col-sm-4 text-center">
      <ul>
    <li><h4>Software Engineer</h4></li>
        <li><a>'Job-title': Java Developer</a></li>
        <li><a>'company' : Accenture</a></li>
        <li><a>'Location' : Bangalore</a></li>
        <li><a>'salary' : 30000</a></li>
        <li><a>'Type' : Fulltime</a></li>
        <li><a>Start date : Immediate</a></li>
        <li><a>Apply link : https://accentre.com</a></li>
      </ul>
    </div>
 
    <div class="col-xs-12 col-sm-4 text-center">
      <ul>
    <li><h4>Software Engineer</h4></li>
    <li><a>'Job-title': Full Stack Devoloper</a></li>
    <li><a>'company' : oyo</a></li>
    <li><a>'Location' : Bangalore</a></li>
    <li><a>'salary' : 350000</a></li>
    <li><a>'Type' : Fulltime</a></li>
    <li><a>Start date : Immediate</a></li>
    <li><a>Apply link : https://oyo.com</a></li>
  </ul>
    </div>

    <div class="col-xs-12  col-sm-4 text-center">
      <ul>
        <li><h4>Software Engineer</h4></li>
        <li><a>'Job-title': UI Developer</a></li>
        <li><a>'company' : ABC</a></li>
        <li><a>'Location' : Bangalore/Hyderabad</a></li>
        <li><a>'salary' : 25000</a></li>
        <li><a>'Type' : Fulltime</a></li>
        <li><a>Start date : Immediate</a></li>
        <li><a>Apply link : https://ABC.com</a></li>
      </ul>
    </div>
  </div>
    <hr>
    <p class="text-center">&copy; www.Jobs.com | All right reserved.</p>
  </div>
  <!--End of Container for footer-->


<!-- </body>  -->